.product-selection {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.product-section {
	.divider {
		display: flex;
		flex-direction: column;

		width: 200px;

		font-size: 2rem;

		img {
			width: 100%;
			position: relative;
			left: -40px;
		}
	}

	&:last-child {
		margin-bottom: 10rem;
	}
}

.product-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	margin-bottom: 4rem;
	margin-top: 2rem;
}
