{% extends "base.html.twig" %}

{% block body %}
	<header>
		Is order page
	</header>

	<a href="{{ path('app.order') }}">To ordering</a>
	<a href="{{ path('app.tab') }}">To tabs</a>
	<a href="{{ path('app.logout') }}">Logout</a>
{% endblock %}
