{% extends "base.html.twig" %}

{% block body %}
	{% include "home/components/header.html.twig" %}

	<div class="cart-widget">
		<img src="{{ asset('images/navigation/cart-icon.svg') }}" alt="">
	</div>

	{% include "home/components/nav.html.twig" %}
{% endblock %}
