{% extends "base.html.twig" %}

{% block body %}
	{% include "home/components/header.html.twig" %}

	<div class="js-open-btn cart-widget">
		<img src="{{ asset('images/navigation/cart-icon.svg') }}" alt="">
	</div>

	<section class="product-selection">
		{% for sectionName, sectionProducts in productList %}
			<div class="product-section">
				<div class="divider">
					{{ sectionName }}
					<img src="{{ asset('images/order/divider-line.svg') }}" alt="">
				</div>

				<div class="product-list">
					{% for product in sectionProducts %}
						{% include "home/components/product-box.html.twig" with ({
							name: product.name,
							amount: product.amount,
							value: product.value,
							imageName: product.imageName,
						}) %}
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</section>

	<div class="tab-selection-overlay" id="tabSelectionPopup" style="display: none;">
		<div class="tab-selection-container">
			<div class="tab-selection-header">
				<h3 class="tab-selection-title">Select a Tab</h3>
				<button class="tab-selection-close" id="closeTabSelection">&times;</button>
			</div>
			<div class="tab-selection-content">
				<ul class="tab-selection-list" id="tabSelectionList">
				</ul>
			</div>
		</div>
	</div>

	{% include "home/components/cart-popup.html.twig" %}

	{% include "home/components/nav.html.twig" %}
{% endblock %}
