{% extends "base.html.twig" %}

{% block body %}
	{% include "home/components/header.html.twig" %}

	<div class="tab-widget">
		<img src="{{ asset('images/navigation/plus-icon.svg') }}" alt="">
	</div>

	{% include "home/components/nav.html.twig" %}
{% endblock %}
