{% extends "base.html.twig" %}

{% block body %}
	{% include "home/components/header.html.twig" %}

	<div class="js-open-btn tab-widget">
		<img src="{{ asset('images/navigation/plus-icon.svg') }}" alt="">
	</div>

	<section class="tabs">
		{% for tab in tabList %}
				<div class="tab-item">
					{% include "home/components/tab-box.html.twig" with ({
						name: tab.name,
						total: tab.total,
						imageName: tab.imageName,
					}) %}
				</div>
		{% endfor %}
	</section>

	{% include "home/components/create-tab-popup.html.twig" %}

	{% include "home/components/nav.html.twig" %}
{% endblock %}
