{% block popup %}
	<div class="js-popup" data-popup-type="{% block popup_type %}{% endblock %}">

		<div class="popup-inner">
			{% block popup_header %}
				<div class="popup-header">

					<h1>
					{% block title %}

					{% endblock %}
					</h1>

					{% block close_button %}
						<a href="#" class="js-close-btn"><img src="{{ asset('images/popup/close-icon.svg') }}" alt=""></a>
					{% endblock %}
				</div>
			{% endblock %}

			{% block popup_inner %}
				<span class="loader"></span>
				<div class="popup-content">
				</div>
			{% endblock %}
		</div>

	</div>
{% endblock %}
